

.container{

      width:90%;
      height:50;
      border: 1px solid red;
      margin:0 auto;
}
.logo{
    width:10%;
    border:1px solid red;


}

 img{

     width:100;
     height:132;

}

.menu{

    width:45%;
    border: 1px solid red;
    float:right;

}
.menu ul{

}

.menu ul li{

}
.menu ul li a{
    
}